    <div class="jumbotron">
    	<div class="container">
          <h1 >Coming Soon...</h1>
        <p class="lead">It's coming soon, any inquiries email me <strong>Kariukipeter30@gmail.com
        </strong></p>  		
    	</div>

      </div>