<div class="well" style="width: 500px;">
	<p class="lead">Client was Successfully Added to $stylist.getName()</p>
</div><br>
<hr>
<a style="font-size: 18px;" href="/stylists/$stylist.getId()">Add Another Client for $stylist.getName()</a> &nbsp&nbsp&nbsp||&nbsp&nbsp&nbsp
<a style="font-size: 18px;" href="/viewallstylists">View Stylists</a>