<p style="font-size: 20px;" class="success"> Boom! Congratulations You Have successfully added a new stylist</p><br><hr>
<a style="font-size: 17px;" href="/">Go back</a>&nbsp&nbsp || &nbsp&nbsp<a style="font-size: 17px;" 
href="/viewallstylists">View all Stylists</a>